/emacs.d/agenda/
/emacs.d/transient/
/emacs.d/emms/
/emacs.d/quelpa/
/emacs.d/request/
/emacs.d/snippets/
/emacs.d/straight/
/emacs.d/tramp
/emacs.d/bookmarks
/emacs.d/auto-save*
/emacs.d/#.*
/emacs.d/dump.el
/emacs.d/games/
/emacs.d/projectile-bookmarks.eld
/emacs.d/speed-type/
/emacs.d/var/
/emacs.d/xwwp/
/AppleScripts/

nvim/plugin/packer_compiled.lua
.DS_Store
nvim/.DS_Store